
#spring
spring:
  application:
    name: dubbo_service_provider
  datasource:
    url: jdbc:mysql://localhost:3306/test?serverTimezone=Asia/Shanghai
    hikari:
      username: root
      password: 123456
      # >= 6.x: com.mysql.cj.jdbc.Driver
      # <= 5.x: com.mysql.jdbc.Driver
      driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    sentinel:
      master: mymaster
      nodes: 172.30.252.96:26379,172.30.252.96:26380,172.30.252.96:26381
    database: 0
    connect-timeout: 1000
    lettuce:
      pool:
        max-active: 10
        max-wait: -1ms
        max-idle: 50
        min-idle: 0
server:
  port: 8082
dubbo:
  application:
    name: dubbo_provider
  registry:
    protocol: zookeeper
    address: zookeeper://172.30.252.96:2181
  protocol:
    name: dubbo
    port: 20882
  scan:
    base-packages: com.provider
mybatis:
  mapper-locations: classpath*:mapper/*.xml
